*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  min-height: 100vh;
  background: linear-gradient(45deg, #9D03CA 0%, #07FFEE 100%);
}

#playboard {
  display: grid;
  width: 30vw;
  margin-top: 1rem;
  margin-left: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.field {
  width: 70px;
  height: 70px;
  margin: 2px 2px;
}

.warrior {
  background-color: rgba(106, 0, 167, 0.514);
  cursor: pointer;
}

.move {
  background-color: rgba(0, 204, 255, 0.473);
  cursor: pointer;
}

.empty-field {
  background-color: rgba(9, 255, 0, 0.473);
}

.blue {
  background-color: rgb(0, 0, 156);
}

.red {
  background-color: rgb(197, 0, 0);
}

.selected {
  background-color: rgba(0, 44, 6, 0.753);
}

.rock {
  background-image: url('images/roc.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.paper {
  background-image: url('images/pap.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.scissor {
  background-image: url('images/sci.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tapir {
  background-image: url('images/tap.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.spock {
  background-image: url('images/spo.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}